*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
core/designsystem/build/intermediates/
core/designsystem/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/
core/model/build/intermediates/incremental/
core/designsystem/build/.transforms/